*{  
 margin:0;  
 padding:0;  
}              
  
body{  
 /*background:red;*/
background: -webkit-linear-gradient(left, #434C5A 20%, #38B0DE 60%, #094292 100%);
background: -moz-linear-gradient(top, black, white);
background: -ms-linear-gradient(top, black, white);
background: -o-linear-gradient(top, black, white);
 font-family: Arial, sans-serif;  
 font-size:13px;  
 line-height:1.6em;  
 color:#444;
 width: 100%; 
  
}

a {text-align: center;}       
  /***********************************************************/
 .titulo{
 	font-family: Comic;
 	font-size: 20px;
 	color: beige;
  }
  
	table{
	width: 90%;}  
  .tabla{
  	font-family: Times;
  	font-size: 16px;
  	text-align: center;
  	width: 100%;
  	margin-left: auto;
	margin-right: auto;
  	border-style: inset;
  	border-right-color: inherit;
  	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
  	}
  /***********************************************************/
p{  
 margin:15px 0;  
}                

h1{
	width: auto;
	color:ghostwhite;
	font-weight: bold;
	font-size:25px;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding: 1px 0px 1px 5px;
	border: 0px;
}
 
h2{  
 margin-top:20px; 
 color:black;
	font-weight: bold;
	font-size:25px;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding: 1px 0px 1px 5px;
	border: 0px; 
}  
p 
{
 margin-top:20px; 
 color:green;
	font-weight: bold;
	font-size:25px;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
	padding: 1px 0px 1px 5px;
	border: 0px; 	
}
  
#container{  
 background:DeepSkyBlue;  
 border-left:1px #ddd solid;  
 border-right:1px #ddd solid;  
 border-bottom:1px #ddd solid;  
 width:75%;  
 margin:0 auto; 
 -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
}    
  
header h1 a{  
 text-indent:-9999px;  
 display:block;  
 width:600px;  
 height:98px;  
 background:url(image-med.jpg) no-repeat 50% 0;  
}               
img {  
 max-width:570px;  
}

/*****************/
.boton{
    background:#0D98FB; 
    background-image: -webkit-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(top,#0D98FB,#1A5DB3);  
    background-image: linear-gradient(to bottom,#0D98FB,#1A5DB3);   
    border: 1px solid #125CB5;
    -moz-border-radius: 1px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #71C0FD inset;
    -webkit-box-shadow: 0 1px 1px #71C0FD inset;
    -o-box-shadow: 0 1px 1px #71C0FD inset; 
    box-shadow: 0 1px 1px #71C0FD inset;
    padding: .2em 2.0em;
    color: white;
    font-weight:normal;
    text-decoration:none;
}
.boton:hover {
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(bottom,#0D98FB,#1A5DB3);   
    background-image: linear-gradient(to top,#0D98FB,#1A5DB3);
    cursor: pointer;
}
dt{
font-family: "Century Gothic";
font-size: 15px;
}
dl{
	font-family: cursive;
	}